body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#111;
    color:lime;
    font-family:Arial;
}

.clock{
    background:#222;
    padding:40px;
    border-radius:15px;
    box-shadow:0 0 25px cyan;
}

h1{
    font-size:70px;
}